<template>
  <div class="carouselContainer mt-10 mb-10">
    <carousel
      :perPageCustom="[[350, 1], [675, 2], [1200, 3]]"
      :navigationEnabled="false"
      :paginationEnabled="false"
      :autoplay="true"
      :autoplayHoverPause="true"
      :autoplayTimeout="5000"
      :loop="true"
    >
      <slide v-for="profil in profils" :key="profil.id" class="flex flex-col items-center justify-center text-white" >
        <div class="flex flex-col justify-center p-2 m-2 rounded-lg shadow-xl height" :class="profil.adopted ? 'adopted' : 'purple'">
        <div class="flex justify-center">
          <span class="adopted-text" v-if="profil.adopted">Adopté</span>
        </div>
          <div :class="{'opacity' : profil.adopted}">
            <div class="flex flex-row justify-start">
              <img :src="require('@/assets/profils/' + profil.id + '/images/profil.png')" class="pic shadow"/>
              <div class="pl-3 flex flex-col items-start justify-center text-base">
                <p class="bold title-montserrat">{{ profil.firstName}} {{ profil.lastName}}</p>
                <p class="title-montserrat">{{ calcAge(profil.contact.birthday) }} ans</p>
              </div>
            </div>
            <div class="pl-3 flex flex-col items-start justify-center text-base">
              <p class="bold title-montserrat">
                {{ profil.firstName}}
                {{ profil.lastName}}
              </p>
              <p class="title-montserrat">
                {{ calcAge(profil.contact.birthday) }} ans
              </p>
            </div>
          </div>
          <div class="pl-3 flex flex-col items-center justify-center text-base">
            <p class="small uppercases">
            </p>
            <p class="small">{{ profil.contact.mail }}</p>
          </div>
          <div class="flex flex-row justify-between" v-if="profil.badges">
            <div class="flex flex-col self-start mt-6 mb-6" >
              <div
                v-for="badge in slicedBadges(profil.badges)"
                :key="badge.id"
                class="flex flex-row items-center"
              >
                <div class="container-badge mb-2 mr-4">
                  <img
                    :src="`${$options.API_HOST}/api/v1/badges/${badge.id}/image`"
                  />
                </div>
                <p class="text-xl small bold">{{ getBadgeById(badge.id).name }}</p>
              </div>
            </div>
          </div>
          <div class="self-end pb-4" v-if="!profil.adopted">
            <nuxt-link :to="{name: 'profil-slug', params: { slug: profil.id + '-' + profil.firstName + '-' + profil.lastName} }">
              <div class="flex flex-row items-end mr-2 show-profil">
                <p class="small uppercase mr-2">Voir le profil</p>
                <i class="material-icons" style="width:24px;">arrow_forward</i>
              </div>
            </nuxt-link>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  API_HOST: process.env.API_HOST,
  components: {
    Carousel,
    Slide
  },
  props: {
    badges: {
      type: Array,
      required: true
    },
    profils: {
      type: Array,
      required: true
    }
  },
  methods: {
    calcAge (date) {
      let s = date.split("/");
      return (
        new Date(
          new Date() - new Date([s[1], s[0], s[2]].join("/"))
        ).getFullYear() - 1970
      );
    },
    slug (profil) {
      return profil.contact.firstName + '-' + profil.contact.lastName
    },
    slicedBadges (badges) {
      return badges.length > 3 ? badges.slice(0, 3) : badges
    },
    getBadgeById (badgeId) {
      return this.badges.filter(badge => badge.id == badgeId).pop()
    }
  }
};
</script>

<style lang="postcss" scoped>

.carouselContainer {
  width: 100%;
}

.adopted {
  background-color: grey;
}

.opacity {
  opacity: 0.5;
}

.adopted-text {
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  background: linear-gradient(rgb(133, 52, 174), rgb(154, 128, 255));
  text-align: center;
  color: white;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 30px;
  padding: 5px 50px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
}

.purple {
  background: linear-gradient(rgb(133, 52, 174), rgb(154, 128, 255));
}

.pic {
  border-radius: 100px;
  width: 125px;
  height: 125px;
}

.grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}
.VueCarousel-slide {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.VueCarousel-slide > div {
  width: 95%;
  margin: 0 auto;
}

.container-badge {
  width: 48px;
  height: 48px;
}

.container-badge img {
  width: 100%;
  height: 100%;
}

.show-profil i {
  width: 24px;
}

.height {
  min-height: 500px;
}

.title-montserrat {
  font-family: "Montserrat";
}

</style>
